@import '@/styles/globals.scss';

.auth{
  display: flex;
  flex-direction: column; 
  flex: 1;
}
.resendSuccess {
  background-color: $primary-color-lighter;
  padding: 20px;
  // font-weight:700;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}
